@import "_reset";
@import "_variables";

body {
  background-color: $personal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 1.2rem;
  height: 100vh;
  font-family: sans-serif;
}

img {
  width: 100px;
}

h1 {
  font-size: 2rem;
  font-weight: 200;
}

footer {
  display: none;
}